@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    .centerForAll {
        text-align: center;
    }

    .DC-Info {
        border-radius: 5px;
        border: 2px solid #046737;
        padding: 40px;
        height: 470px;
        background-color: #65ba91;
    }

    .DC-Staff {
        border-radius: 5px;
        border: 2px solid #046737;
        padding: 10px;
        height: 426px;
        background-color: #65ba91;
    }

    .DC-Courses {
        border-radius: 5px;
        border: 2px solid #046737;
        padding: 10px;
        height: 426px;
        background-color: #65ba91;
    }

    .infoTabOne {
        text-align: center;
        border-radius: 5px;
        border: 2px solid #333;
        background-color: azure;
        padding-bottom: 40px;
        padding-top: 40px;
        height: 400px;
    }

    .box {
        display: flex; /* always present for Flexbox practices */
        flex-direction: row; /* elements stack */
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .staffPart {
        border: 2px solid #046737;
        height: 150px;
        width: 50px;
        background-color: azure;
    }

    .DC-Course-Example {
        border: 2px solid #046737;
        height: 300px;
        max-width: 250px;
        background-color: burlywood;
        padding: 20px;
        position: relative;
    }

    .centered-button {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        padding: 10px;
    }
</style>

<body>

    <br />
    <h1 class="centerForAll">Dream Center</h1>
    <br />

    <div class="DC-Info">

        <div class="infoTabOne">
            <p>Infomation about Dream Center will go here as well as Backstory</p>
            <br />
            <p>Pricing and location info to follow here as well</p>
        </div>

    </div>

    <br />

    <div class="DC-Staff">

        <div class="box">

            <div class="staffPart">
                <p>Info about DreamCenter Staff or partners will go here</p>
            </div>

            <div class="staffPart">
                <p>Info about DreamCenter Staff or partners will go here</p>
            </div>

            <div class="staffPart">
                <p>Info about DreamCenter Staff or partners will go here</p>
            </div>

            <div class="staffPart">
                <p>Info about DreamCenter Staff or partners will go here</p>
            </div>

            <div class="staffPart">
                <p>Info about DreamCenter Staff or partners will go here</p>
            </div>

            <div class="staffPart">
                <p>Info about DreamCenter Staff or partners will go here</p>
            </div>
        </div>
    </div>

    <br />



    <div class="box">

        <div class="DC-Course-Example">
            <p>Course 1 will go here</p>

            <div class="centered-button">
                <input type="submit" value="Enquire">
            </div>
        </div>

        <div class="DC-Course-Example">
            <p>Course 2 will go here</p>

            <div class="centered-button">
                <input type="submit" value="Enquire">
            </div>
        </div>

        <div class="DC-Course-Example">
            <p>Course 3 will go here</p>

            <div class="centered-button">
                <input type="submit" value="Enquire">
            </div>
        </div>

        <div class="DC-Course-Example">
            <p>Course 4 will go here</p>

            <div class="centered-button">
                <input type="submit" value="Enquire">
            </div>
        </div>

    </div>



    <br />
    <br />
    <br />
    <br />
    <br />

</body>

