
@{
    ViewData["Title"] = "Index";
}

<style>
        .GI-Donate-Links {
        border-radius: 5px;
        border: 2px solid #046737;
        padding: 10px;
        height: 210px;
        background-color: #65ba91;
    }

    .donateInfo {
        border: 2px solid #046737;
        height: 150px;
        width: 50px;
        background-color: azure;
    }
</style>

<h1>Donate Today</h1>

    <div class="GI-Donate-Links">

        <div class="box">

            <div class="donateInfo">
                <p>Banking Details: For EFT and Debit Orders</p>
                <ul>
                    <li>Bank Name: XXXXXX</li>
                    <li>Branch Code: XXXXXX</li>
                    <li>Account Number: XXXXXX</li>
                    <li>Other Details go here......</li>

                </ul>
            </div>

            <div class="donateInfo">
                <p>Zapper QR Code:</p>
                <br />
                <p>QR Code to be placed here</p>
            </div>

            <div class="donateInfo">
                <p>Section 18a details go here</p>

            </div>

        </div>

    </div>