@model LoveNottiesV2.Models.OurPeople

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OurPeople</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OurPersonID" class="control-label"></label>
                <input asp-for="OurPersonID" class="form-control" />
                <span asp-validation-for="OurPersonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurPersonFirstName" class="control-label"></label>
                <input asp-for="OurPersonFirstName" class="form-control" />
                <span asp-validation-for="OurPersonFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurPersonLastName" class="control-label"></label>
                <input asp-for="OurPersonLastName" class="form-control" />
                <span asp-validation-for="OurPersonLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurPersonTitle" class="control-label"></label>
                <input asp-for="OurPersonTitle" class="form-control" />
                <span asp-validation-for="OurPersonTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurPersonImage" class="control-label"></label>
                <input asp-for="OurPersonImage" class="form-control" />
                <span asp-validation-for="OurPersonImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurPersonDescription" class="control-label"></label>
                <input asp-for="OurPersonDescription" class="form-control" />
                <span asp-validation-for="OurPersonDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
