@model LoveNottiesV2.Models.BlogItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlogItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogID" />
            <input type="hidden" asp-for="BlogViews" />
            <div class="form-group">
                <label asp-for="BlogTitle" class="control-label"></label>
                <input asp-for="BlogTitle" class="form-control" />
                <span asp-validation-for="BlogTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogImageID" class="control-label"></label>
                <input asp-for="BlogImageID" class="form-control" />
                <span asp-validation-for="BlogImageID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogDescription" class="control-label"></label>
                <input asp-for="BlogDescription" class="form-control" />
                <span asp-validation-for="BlogDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogTag" class="control-label"></label>
                <input asp-for="BlogTag" class="form-control" />
                <span asp-validation-for="BlogTag" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
